@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'alethia_proregular';
  src: url('/fonts/Alethia-Pro/Webfonts/alethiapro_regular_macroman/alethiapro-regular-webfont.eot');
  src: url('/fonts/Alethia-Pro/Webfonts/alethiapro_regular_macroman/alethiapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Alethia-Pro/Webfonts/alethiapro_regular_macroman/alethiapro-regular-webfont.woff2') format('woff2'),
       url('/fonts/Alethia-Pro/Webfonts/alethiapro_regular_macroman/alethiapro-regular-webfont.woff') format('woff'),
       url('/fonts/Alethia-Pro/Webfonts/alethiapro_regular_macroman/alethiapro-regular-webfont.ttf') format('truetype'),
       url('/fonts/Alethia-Pro/Webfonts/alethiapro_regular_macroman/alethiapro-regular-webfont.svg#alethia_proregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito_Complete/Fonts/WEB/fonts/Nunito-Variable.woff2') format('woff2'),
       url('/fonts/Nunito_Complete/Fonts/WEB/fonts/Nunito-Variable.woff') format('woff'),
       url('/fonts/Nunito_Complete/Fonts/WEB/fonts/Nunito-Variable.ttf') format('truetype');
       font-weight: 200 1000;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito_Complete/Fonts/WEB/fonts/Nunito-VariableItalic.woff2') format('woff2'),
       url('/fonts/Nunito_Complete/Fonts/WEB/fonts/Nunito-VariableItalic.woff') format('woff'),
       url('/fonts/Nunito_Complete/Fonts/WEB/fonts/Nunito-VariableItalic.ttf') format('truetype');
       font-weight: 200 1000;
       font-display: swap;
       font-style: italic;
}

:root {
  font-family: 'alethia_proregular', serif;
  line-height: 1.75;
  font-weight: 400;
  color-scheme: dark light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #353535;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-image: url('/images/dark.webp');
  /* background-image: url('/images/light.png'); */
}

h1, h2, h3, h4, h5 {
  /* line-height: 1.3; */
  text-wrap: balance;
}

h1 {
  margin-top: 0;
  letter-spacing: -0.03em;
  font-size: 4.209rem;
}

h2 {font-size: 3.157rem;}

h3 {font-size: 2.369rem;}

h4 {font-size: 1.777rem;}

h5 {font-size: 1.333rem;}

img {
  max-width: 100%;
  display: block;
}

.vertical-text {
  writing-mode: vertical-lr;
  rotate: 180deg;
}

.pswp__custom-caption {
  font-size: 4.5rem;
  color: #fcf3f3;
  height: min-content;
  /* max-width: 600px; */
  padding: 4px 12px 4px 32px;
  border-radius: 4px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 2%;
  pointer-events: none;
}

@media (max-width: 1280px){
  .pswp__custom-caption {
  }
}

@media (max-width: 1024px){
  .pswp__custom-caption {
    background-color: #00000034;
    width: 100vw;
    font-size: 2rem;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }
}

.section-title {
  font-family: "Nunito", serif;
  font-weight: 1000;
  font-style: italic;
}


.accordion {
  --_button-size: 6rem;
  --_panel-padding: .75rem;
  --_panel-gap: 1rem
  contain: content;
}

.accordion_icon {
  fill: var(--_panel_color);
  width: var(--_button-size);
  /* @apply aspect-square p-3 rounded-full bg-gray-400/40 */
}

.accordion_trigger {
  gap: var(--_panel-gap);
  outline: none;
  @apply bg-transparent border-none flex items-center flex-row-reverse p-0 absolute
}


.accordion_panel {
  padding: var(--_panel-padding);
  padding-right: calc(var(--_panel-padding) * 5);
  flex-basis: calc((var(--_panel-padding) * 3.5) + var(--_button-size));
  /* border-radius: calc(((var(--_panel-padding) * 2) + var(--_button-size)) / 10); */ 
}

.accordion_panel {
  filter: drop-shadow(0px 3px 4px black) brightness(65%);

}

.accordion_panel:focus-within {
  transition: 0.1s;
  outline-offset: 3px;
  outline: 3px solid violet;
  filter: drop-shadow(0px 4px 6px black);
}

.accordion_panel:hover{
  filter: drop-shadow(0px 4px 6px black);
}


.accordion_panel.expanded {
  /* flex-basis: clamp(20rem, 40vh, 20rem); */
  filter: brightness(100%) drop-shadow(0px 4px 6px black);
  /* min-height: 500px; */
  flex-grow: 1;
}

.accordion_panel.expanded .accordion_content > p {
  opacity: 1;
  transition: 500ms 500ms;
}

.panel-span {
  opacity: 0;
  transition: opacity 500ms;
}

.accordion_panel.expanded .accordion_trigger > .panel-span{
  opacity: 1;
  /* transform: translateX(5rem); */
  transition: opacity 500ms;
}


.accordion_content > p {
  transform: translateY(3rem);
  opacity: 0;
  user-select: none;
  margin-left: calc(var(--_button-size) + var(--_panel-gap) );
}

.card {
  /* width: 100vw; */
  height: 100vh;
  /* position: sticky;
  top: 0; */
  /* justify-content: center; */
  /* transform: ; */
}

.grid-block {
  /* box-shadow: 3px 2px 2px #212121; */
  filter: drop-shadow(0px 2px 4px black);
  /* @apply lg:h-[45vh] w-[35vw] h-[20vh] bg-black overflow-hidden */
}

.grid-block:hover {
  /* box-shadow: 0px 0px 0px 3px #212121; */

  /* transform: translate(2px, 3px); */
}


.grid-block:hover > .zoom-image {
  /* transform: translateY(-4rem); */

}

.grid-block.loaded > .grid-image {
  opacity: 1;
}

.grid-block > .grid-image {
  opacity: 0;
  transition: opacity 700ms ease-in;
}

.grid-block:hover .inner-shadow{
  opacity: 1;
}

.grid-block1,
.grid-block2 {
  padding-top: 224px;
}

.grid-block3 {
  padding-top: 180px;
}

.zoom-image {
  margin: 1px;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  z-index: 9;
}

.inner-text {
  transition: transform 300ms, opacity 300ms;
}

.accordion_panel.expanded .inner-text {
  /* transition: transform 300ms, opacity 0ms; */
  /* transform: translate(-80%, 0 ); */
  opacity: 1;
}

.grid-block:hover .inner-text {
  /* transition: transform 300ms, opacity 0ms; */
  transform: translateY(-4rem );
  opacity: 1;
}

/* .grid-images {
	grid-template-columns: repeat(3, [col] 1fr);
	grid-template-rows: repeat(4, [row] 1fr);
	grid-gap: 15px;
} */

.grid-image {
  
  @apply object-cover w-full h-full 
}


.image1, .image2 {
  grid-row: span 2;
}

.image3 {
  grid-row: span 2;
}

.image4 {
  grid-column: span 2;
  /* grid-row: span 2; */
}


.image10 {
  grid-row: span 2;
}
.image11 {
  grid-column: span 2;
}


.medium-image4,
.medium-image5,
.medium-image6,
.medium-image7,
.medium-image9,
.medium-image10 {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

/* .medium-image4 {
  grid-column: span 2;

}



.medium-image10{
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* .div-acc {
  background-color: #32af9f;
  background-image: 
    radial-gradient(
      circle,
      transparent 1rem,
      #32af9f 1rem),
    linear-gradient(rgba(155, 78, 155, 0.8) .5rem, transparent .5rem),
    linear-gradient(90deg, rgba(155, 78, 155, 0.8) .5rem, transparent .5rem);
    background-size: 5rem 5rem;
    background-position: 4.75rem 4.75rem, 2rem 2rem, 2rem 2rem;
    filter:blur(1px)
} */

/* .banner-image {
  mask-image: url("blob1.svg");
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: top;
} */


.big-banner {
  /* background-color: #26163b;
  /* background-image: url(https://ik.imagekit.io/kudmi/images/Makima.png?updatedAt=1682245504485); */
  background-position: center 25%; /* Adjust the values as needed */
  background-repeat: no-repeat; /* Optional: prevent background image from repeating */
  background-size: cover; 

}

.gradient-bg {
  /* background: rgb(33,33,33);
  background: linear-gradient(15deg, rgb(115,102,189) 0%, rgb(219, 109, 102) 40%, rgba(33,33,33,0.7) 100%); */
  /* background-color:#ff99ac;
  background-image:
  radial-gradient(at 13% 45%, hsla(217,80%,61%,1) 0px, transparent 50%),
  radial-gradient(at 76% 82%, hsla(162,77%,61%,1) 0px, transparent 50%),
  radial-gradient(at 4% 71%, hsla(97,65%,79%,1) 0px, transparent 50%),
  radial-gradient(at 66% 87%, hsla(110,66%,77%,1) 0px, transparent 50%),
  radial-gradient(at 72% 65%, hsla(69,78%,79%,1) 0px, transparent 50%),
  radial-gradient(at 66% 59%, hsla(320,68%,76%,1) 0px, transparent 50%),
  radial-gradient(at 45% 45%, hsla(247,94%,61%,1) 0px, transparent 50%); */
  /* background-color: #8b7979; */
}

.header {
  transition: height 700ms;
}

.header-standart {
  /* grid-template-columns: 20% 1fr 20%; */
}

.header-section {
  /* font-style: italic; */
  /* text-shadow: 1px 2px 0px black;  */
  /* color: transparent;
  -webkit-text-stroke: 0px white;
  mix-blend-mode: difference;
  background-image: url("images/purplegirl.webp");
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text; */
}


.header-top {
  /* font-family: "MyFont", sans-serif; */
  /* text-shadow: 3px 3px 2px #0e0a13; */
  /* color: transparent; */
  /* -webkit-text-stroke: 1.5px white; */
  /* mix-blend-mode: difference; */
  /* background-image: url("images/4.jpg"); */
  /* background-clip: text; */
  /* -webkit-background-clip: text; */
}

.header-top:hover {
  /* color: rgb(147, 112, 216); */
  /* color: rgb(115,102,189); */
  /* -webkit-text-stroke: 1.5px transparent; */

}

.social-item {
  @apply border-2 rounded-full p-3 my-1
}

/* .social-icon {
  width: 32px;
  height: 32px;
} */

.boosty-item {
  @apply p-2
}


.dropdown.active > .dropdown-btn > .chevron {
  transform: rotate(180deg);
}


.contact-item {
  margin-top: 20px;
  margin-bottom: 20px;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  opacity: 0;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  top: calc(100% + 0.5rem);
  transform: translateY(-12px);
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.dropdown.active > .dropdown-btn + .dropdown-menu{
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* .link::after {
  content: url("icons/chevron.svg");
  display: inline-block;
  margin-left: 0.5rem;
} */

.dropdown-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chevron {
  width: 20px;
  height: 20px;
  transition: transform 300ms ease;
}

/* .chevron:hover {
  transform: rotate(180deg);
} */

.contact-link {
  font-size: 1.2rem;
  /* padding: 10px; */
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
  width: 100%;
  text-align: center;
}

.contact-link:hover {
  background-color: rgb(115,102,189);
  background: linear-gradient(30deg, rgba(115, 102, 189, 0.63), rgb(115,102,189))
  /* outline: 2px solid white; */
}

.contact-link::after {
  content: url("icons/arrow-right.svg");
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: -4px;
}

ion-icon {
  font-size: 24px;
}

.disable-scrolling {
  position: fixed;
  width: 100%;
  overflow-y: scroll !important;
}

.profile-pic-container {
  outline: 3px solid #212121;
  /* mask: url('/public/svg/profile_border.svg') center / cover no-repeat; */
}



.modal.active {
  pointer-events: all;
  opacity: 1;
}

.modal-content.active {
  transform: scale(1);
}

.video-card-container:hover > .thumb-img-container > .thumb-img {
  transform: scale(1.05);
}

.effect-shine:hover {
  mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  mask-size: 200%;
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2.5s infinite;
}

.effect-shine-skeleton {
  mask-image: linear-gradient(-75deg, rgba(253, 253, 253, 0.6) 30%, #000 50%, rgba(255, 255, 255, 0.6) 70%);
  mask-size: 200%;
  -webkit-mask-image: linear-gradient(-75deg, rgba(253, 253, 253, 0.6) 30%, #000 50%, rgba(255, 255, 255, 0.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}
.myvan.black > .underline-animation {
  background: #fcf3f3;
  height: 0.25rem;
}

.underline-animation:nth-child(1) {
  background: #fcf3f3;
  transition: calc(0.3s * .8);
}
.underline-animation:nth-child(2) {
  background: #fcf3f3;
  transition: calc(0.3s * 1.2);
}
.underline-animation:nth-child(3) {
  background: #fcf3f3;
}

.section {
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.5s;
}

.section.active {
  opacity: 1;
}

.hidden-entry {
  opacity: 0;
  transition: all 0.5s;
}

.show-entry {
  opacity: 1;
}

.hamburger-btn .line {
  transition: 
  y 200ms ease-in 200ms,
  rotate 200ms ease-in ,
  opacity 0ms 200ms;
  transform-origin: center;
  -moz-transform-origin: center;
}

.hamburger-btn[aria-expanded="true"] .line {
  transition: 
  y 200ms ease-in,
  rotate 200ms ease-in 200ms ,
  opacity 0ms 200ms;
}

.hamburger-btn[aria-expanded="true"] .top-bar,
.hamburger-btn[aria-expanded="true"] .bottom-bar {
  y: 46px; 
}


.hamburger-btn[aria-expanded="true"] .top-bar{
  rotate: 45deg;
}


.hamburger-btn[aria-expanded="true"] .middle-bar{
  opacity: 0;
}

.hamburger-btn[aria-expanded="true"] .bottom-bar{
  rotate: -45deg;
}

.to-top-btn {
  transition: transform 300ms, opacity 300ms;
}
